# Python virtual environment
venv/
backend/venv/

# Python cache
__pycache__/
*.pyc

# VS Code
.vscode/

# uploads
backend/uploads/

# datasets
backend/recipes.csv
backend/data/

# system files
.DS_Store
